numpy
scikit-learn
transformers
torch
matplotlib
seaborn
pandas
accelerate>=0.26.0
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-classic
lancedb
sentence-transformers
bitsandbytes
pyarrow
datasets
peft
flwr
