flask
flask-cors
pandas
nltk
scikit-learn
transformers
torch
lancedb
langchain-community
langchain-huggingface
langchain-core
langchain-classic
sentence-transformers
selenium
webdriver-manager
beautifulsoup4
google-cloud-storage
peft
bitsandbytes
numpy
requests
